html {
    min-height: 100%;
    position: relative;
}

body.noscroll {
    height: 100%;
}

.poll {
    padding: var(--lumo-space-l);
    gap: 20px;
    align-items: stretch;
    height: 100%;
}

.poll h1 {
    font-size: 36px;
}

.poll vaadin-button {
    align-self: start;
}

.poll .join-at,
.poll .active-users {
    position: absolute;
    margin: var(--lumo-space-m) var(--lumo-space-l);
    font-size: var(--lumo-font-size-xl);
}

.poll .join-at {
    top: 0;
    right: 0;
}

.poll .active-users {
    bottom: 0;
    right: 0;
}

/* Chart max width + width of the label */
@media (width < 1080px) {
    .poll .join-at,
    .poll .active-users {
        display: none;
    }
}

.poll .qr {
    width: 100%;
    flex-grow: 1;
    padding: var(--lumo-space-l) 0;
    box-sizing: border-box;
}

.poll > vaadin-vertical-layout {
    gap: var(--lumo-space-s);
}

.poll > vaadin-vertical-layout,
.poll > vaadin-radio-group {
    max-width: 800px;
}

.poll > vaadin-vertical-layout > div,
.poll > vaadin-radio-group > div {
    background: var(--lumo-primary-color);

    height: 26px;
    width: fit-content;
    border-radius: 5px;
    transition: min-width 0.3s cubic-bezier(0.1, 1.0, 1.0, 1.05);
    color: white;
    padding: 0 var(--lumo-space-s);
    box-sizing: border-box;
    font-weight: 600;
}

.poll > vaadin-radio-group > div {
    margin-bottom: 12px;
}

.poll vaadin-radio-group::part(group-field) {
    flex-direction: column;
    gap: var(--lumo-space-s);
}

.poll label {
    display: flex;
    align-items: center;
    padding: 0 var(--lumo-space-s);
    height: 38px;
}

.poll label::before {
    width: 38px;
    height: 38px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: var(--lumo-space-s);
}

.poll .Vaadin label::before {
    content: "";
    background-image: url("data:image/svg+xml,%0A%3Csvg width='266' height='278' viewBox='0 0 266 278' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_15)'%3E%3Cpath d='M265.2 138.8C265.2 132.2 261.3 126.5 255.6 123.9C255.4 123.8 255.2 123.6 254.9 123.5L149.4 66.4C146.6 64.8 143.5 64 140.3 64C130.2 64 122 72.2 122 82.3C122 90.4 126 95.9 134.5 99.6L207.4 138.7L134.6 177.8C126 181.6 122 187.1 122 195.2C122 205.3 130.2 213.5 140.3 213.5C143.5 213.5 146.6 212.7 149.4 211.1L254.9 154C255.1 153.9 255.2 153.8 255.4 153.7C261.2 151.3 265.2 145.5 265.2 138.8Z' fill='%2300B4F0'/%3E%3Cpath d='M108.5 138.7C108.5 130.7 102 124.1 93.9 124.1H90.5H90.4C82.8 124.1 76.6 117.9 76.6 110.2V81.8V36.3V35.5C76.6 26.9 73.6 19.1 68.5 12.9C62 5 52.1 0 41.1 0L13.8 0.100006C6.29999 0.100006 0.199951 6.2 0.199951 13.7C0.199951 18.8 2.99998 23.2 7.09998 25.6C9.09998 26.7 11.3 27.3 13.8 27.3H22.4C30.1 27.3 36.2999 33.5 36.2999 41.2V70.5V108.8C36.2999 123.4 47.1 135.5 61.1 137.7C61.1 137.7 64.7999 138.4 68.2999 138.4V138.7V139C64.7999 139 61.1 139.7 61.1 139.7C47.1 141.8 36.2999 153.9 36.2999 168.6V206.9V236.2C36.2999 243.9 30.1 250.1 22.4 250.1H13.8C11.4 250.1 9.09998 250.7 7.09998 251.8C2.99998 254.1 0.199951 258.6 0.199951 263.7C0.199951 271.2 6.29999 277.3 13.8 277.3L41.1 277.4C52.1 277.4 62 272.4 68.5 264.5C73.6 258.4 76.6 250.5 76.6 241.9V241.1V195.6V167.2C76.6 159.6 82.8 153.4 90.4 153.3H90.5H93.9C101.9 153.3 108.5 146.8 108.5 138.7C108.5 138.9 108.5 138.8 108.5 138.7Z' fill='%2300B4F0'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_15'%3E%3Crect width='266' height='278' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.poll .Vaadin > div {
    background: linear-gradient(45deg, #1A81FA 0%, #8854FC 100%);
}

.poll .Flow label::before {
  content: "";
  background-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.2001 16.5926C23.9293 20.6091 15.0548 17.6089 11.896 13.4654C7.12556 7.21823 -1.93095 14.6559 3.88687 20.9269C11.4117 28.7768 24.8103 26.1018 29.2001 16.5926Z" fill="%2300B4F0"/><path d="M3.88117 20.9347C11.4137 28.7768 24.8201 26.1018 29.2016 16.6004C33.5277 6.988 18.994 1.98738 16.1919 11.7828C15.806 13.1957 15.1718 14.5286 14.319 15.7194C12.0012 18.9498 8.19112 20.9347 3.88117 20.9347Z" fill="%23FF707A"/><path d="M29.2016 16.5926C24.9632 19.8313 18.3749 18.5137 14.319 15.7116C12.0012 18.9503 8.19112 20.9347 3.88117 20.9264C6.93682 24.1096 10.9694 25.562 14.9698 25.5226C20.812 25.4749 26.5981 22.2445 29.2016 16.5926Z" fill="%235748FF"/></svg>');
}

.poll .Flow > div {
  background: linear-gradient(45deg, #5549F5 0%, #EE797D 100%);
}

.poll .Hilla label::before {
  content: "";
  background-image: url('data:image/svg+xml,<svg fill="none" height="193" viewBox="0 0 208 193" width="208" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="51" x2="155.591" y1="184.7" y2="5.36396"><stop offset="0" stop-color="%23ff006b"/><stop offset=".494792" stop-color="%23fc5b00"/><stop offset="1" stop-color="%23f9bd00"/></linearGradient><path d="m206.541 85.8901c-3.902-15.5064-17.504-27.6694-33.123-29.9303 15.949-44.2965-39.968-76.4302-69.539-40.4728-29.6141-35.983-85.5189-3.7662-69.5253 40.492-45.7859 8.0446-45.8239 73.016 0 81.054-8.9389 22.334 4.1364 48.55 27.28 54.532 15.1372 4.362 32.5963-1.499 42.2263-14.007 7.233 9.485 19.966 15.608 31.652 15.371 27.958.365 48.564-29.155 37.874-55.947 23.239-3.1 39.74-27.797 33.155-51.0919zm-90.887 30.3589c-.292.18-.59.353-.888.519-6.376 3.683-15.3718 3.683-21.7477 0-.2919-.179-.5901-.352-.8882-.519h-.0571c-3.2634-1.998-5.9796-4.789-7.9011-8.118s-2.9871-7.091-3.0998-10.9426c0-.4484 0-.8968 0-1.3387.1766-5.9958 2.6606-11.686 6.9248-15.863 4.2642-4.1771 9.9728-6.5121 15.9141-6.5094 23.188.237 31.321 30.7437 11.832 42.7717zm-43.5081-98.2705c3.6963.0025 7.3367.9108 10.6087 2.6466 3.272 1.7359 6.0778 4.2477 8.1764 7.3195 1.4618 2.0856 3.4018 3.783 5.6544 4.9474s4.7506 1.7612 7.2816 1.7393c2.577-.0011 5.115-.6334 7.397-1.8427s4.239-2.9594 5.704-5.1002c11.698-17.082 40.894-10.6322 41.471 13.3479-.001 3.9412-1.003 7.8163-2.91 11.2553s-4.655 6.3272-7.983 8.3886c-10.499 6.674-24.107 3.0039-30.705-6.5138-1.467-2.0921-3.413-3.796-5.671-4.9668-2.259-1.1708-4.764-1.774-7.303-1.7584-2.521-.0215-5.0101.5744-7.2531 1.7368s-4.1735 2.8565-5.6258 4.9372c-7.7589 11.3751-25.015 13.8667-35.3053 2.8886-13.843-14.3663-3.5781-39.0829 16.4631-39.0253zm21.9255 140.3965c-4.2506 15.416-23.1817 21.815-35.8383 11.9-8.7549-6.655-11.191-18.843-6.6676-28.355 1.0467-2.226 1.5411-4.677 1.4406-7.139-.1006-2.463-.7932-4.864-2.018-6.996l-.4505-.782c-1.2417-2.13-2.9756-3.925-5.0535-5.232-2.078-1.308-4.4384-2.088-6.8798-2.274-7.3212-.641-14.3315-4.874-17.9604-11.465-10.0745-17.5048 6.0143-38.846 25.2498-33.9014 14.5916 3.5676 21.0817 19.8553 15.1436 32.3704-1.055 2.289-1.5421 4.804-1.4194 7.326.1227 2.521.8515 4.975 2.1236 7.149l.1332.231c1.261 2.195 3.0289 4.049 5.1531 5.406 2.1243 1.356 4.542 2.173 7.0468 2.382 3.3846.291 6.6631 1.336 9.5987 3.062 8.8882 5.008 13.4052 16.557 10.4107 26.318zm93.0186-50.343c-1.854 3.238-4.459 5.973-7.593 7.968-3.133 1.995-6.7 3.191-10.393 3.484-2.413.165-4.751.92-6.81 2.201s-3.779 3.049-5.009 5.152l-.59 1.031c-1.232 2.111-1.928 4.497-2.025 6.946-.098 2.448.406 4.883 1.466 7.087 9.352 18.856-10.931 41.632-31.968 30.039-15.181-8.806-15.099-31.128-.108-39.883 3.004-1.76 6.364-2.811 9.827-3.075 2.436-.194 4.787-.984 6.852-2.302s3.781-3.124 4.999-5.262l.495-.864c1.203-2.154 1.871-4.569 1.946-7.04s-.444-4.924-1.514-7.147c-4.816-10.3572-1.39-23.6218 9.015-29.7257 1.922-1.142 4-1.9943 6.166-2.5299 19.489-4.8358 35.28 16.3453 25.256 33.9206z" fill="url(%23a)"/></svg>');
}

.poll .Hilla > div {
  background: linear-gradient(45deg, #EA3767 0%, #EFB83F 100%);
}

.poll .React label::before {
    content: "";
    background-image: url("data:image/svg+xml,%0A%3Csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_9)'%3E%3Cpath d='M11 12.63C12.1046 12.63 13 11.7346 13 10.63C13 9.52544 12.1046 8.63 11 8.63C9.89543 8.63 9 9.52544 9 10.63C9 11.7346 9.89543 12.63 11 12.63Z' fill='%23087EA4'/%3E%3Cpath d='M11 15.13C16.5228 15.13 21 13.1153 21 10.63C21 8.14472 16.5228 6.13 11 6.13C5.47715 6.13 1 8.14472 1 10.63C1 13.1153 5.47715 15.13 11 15.13Z' stroke='%23087EA4'/%3E%3Cpath d='M7.10288 12.88C9.86431 17.6629 13.8477 20.5329 16 19.2903C18.1523 18.0476 17.6585 13.1629 14.8971 8.38001C12.1357 3.59708 8.15231 0.727116 6 1.96976C3.84768 3.2124 4.34146 8.09708 7.10288 12.88Z' stroke='%23087EA4'/%3E%3Cpath d='M7.1029 8.38001C4.34147 13.1629 3.84769 18.0476 6.00001 19.2903C8.15233 20.5329 12.1357 17.6629 14.8971 12.88C17.6585 8.09708 18.1523 3.2124 16 1.96976C13.8477 0.727116 9.86432 3.59708 7.1029 8.38001Z' stroke='%23087EA4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_9'%3E%3Crect width='22' height='20.27' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.poll .React > div {
    background: linear-gradient(45deg, #055670 0%, #087EA4 100%);
}

.poll .Angular label::before {
    content: "";
    background-image: url("data:image/svg+xml,%0A%3Csvg width='223' height='236' viewBox='0 0 223 236' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M222.077 39.692L214.058 165.615L137.387 0.5L222.077 39.692ZM168.972 202.517L111.039 235.573L53.105 202.517L64.888 173.961H157.189L168.972 202.517ZM111.039 63.175L141.396 136.978H80.681L111.039 63.175ZM7.937 165.615L0 39.692L84.69 0.5L7.937 165.615Z' fill='url(%23paint0_linear_1_3)'/%3E%3Cpath d='M222.077 39.692L214.058 165.615L137.387 0.5L222.077 39.692ZM168.972 202.517L111.039 235.573L53.105 202.517L64.888 173.961H157.189L168.972 202.517ZM111.039 63.175L141.396 136.978H80.681L111.039 63.175ZM7.937 165.615L0 39.692L84.69 0.5L7.937 165.615Z' fill='url(%23paint1_radial_1_3)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_3' x1='0' y1='192.5' x2='982' y2='192.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F0070C'/%3E%3Cstop offset='0.526' stop-color='%23CC26D5'/%3E%3Cstop offset='1' stop-color='%237702FF'/%3E%3C/linearGradient%3E%3CradialGradient id='paint1_radial_1_3' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(305.5 -61.0005) rotate(118.122) scale(205.794 205.794)'%3E%3Cstop stop-color='%23FF41F8'/%3E%3Cstop offset='0.707' stop-color='%23FF41F8' stop-opacity='0.5'/%3E%3Cstop offset='1' stop-color='%23FF41F8' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.poll .Angular > div {
    background: linear-gradient(45deg, #F0070C 0%, #CC26D5 52.6%, #7702FF 100%);
}

.poll .Vue label::before {
    content: "";
    background-image: url('data:image/svg+xml,<svg version="1.1" viewBox="0 0 261.76 226.69" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(1.3333 0 0 -1.3333 -76.311 313.34)"><g transform="translate(178.06 235.01)"><path d="m0 0-22.669-39.264-22.669 39.264h-75.491l98.16-170.02 98.16 170.02z" fill="%2341b883"/></g><g transform="translate(178.06 235.01)"><path d="m0 0-22.669-39.264-22.669 39.264h-36.227l58.896-102.01 58.896 102.01z" fill="%2334495e"/></g></g></svg>');
}

.poll .Vue > div {
    background: linear-gradient(45deg, #34495e 0%, #41b883 100%);
}

.poll .Other label::before {
    content: "";
    background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="48" height="48" rx="24" fill="%23FCDC00"/><path d="M13.7 30C13.2 30 12.7917 29.8417 12.475 29.525C12.1583 29.2083 12 28.8 12 28.3V25H14.4V27.6H18.6V18H21V28.3C21 28.8 20.8417 29.2083 20.525 29.525C20.2083 29.8417 19.8 30 19.3 30H13.7ZM25.7 30C25.2 30 24.7917 29.8417 24.475 29.525C24.1583 29.2083 24 28.8 24 28.3V26H26.4V27.6H31.6V24.95H25.7C25.2333 24.95 24.8333 24.7833 24.5 24.45C24.1667 24.1167 24 23.7167 24 23.25V19.7C24 19.2 24.1583 18.7917 24.475 18.475C24.7917 18.1583 25.2 18 25.7 18H32.3C32.8 18 33.2083 18.1583 33.525 18.475C33.8417 18.7917 34 19.2 34 19.7V22H31.6V20.4H26.4V23.05H32.3C32.7667 23.05 33.1667 23.2167 33.5 23.55C33.8333 23.8833 34 24.2833 34 24.75V28.3C34 28.8 33.8417 29.2083 33.525 29.525C33.2083 29.8417 32.8 30 32.3 30H25.7Z" fill="%23182739" fill-opacity="0.94"/></svg>');
}


.poll .Other > div {
    background: linear-gradient(45deg, #182739 0%, #FCDC00 100%);
}

.poll .Server label::before {
    content: "";
    background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.35 40V37H14.85C12.7167 35.4 11.0417 33.5917 9.825 31.575C8.60833 29.5583 8 27.0833 8 24.15C8 20.8167 8.98333 17.7083 10.95 14.825C12.9167 11.9417 15.7167 9.93333 19.35 8.8V11.9C16.9833 12.7667 15 14.3167 13.4 16.55C11.8 18.7833 11 21.3167 11 24.15C11 26.2833 11.4583 28.2417 12.375 30.025C13.2917 31.8083 14.7833 33.3667 16.85 34.7V28.5H19.85V40H8.35ZM30 40C28.3333 40 26.9167 39.4167 25.75 38.25C24.5833 37.0833 24 35.6667 24 34C24 32.4 24.55 31.0167 25.65 29.85C26.75 28.6833 28.1 28.0667 29.7 28C30.2667 26.8 31.1083 25.8333 32.225 25.1C33.3417 24.3667 34.6 24 36 24C37.7667 24 39.2917 24.575 40.575 25.725C41.8583 26.875 42.6333 28.3 42.9 30H43C44.4 30 45.5833 30.5 46.55 31.5C47.5167 32.5 48 33.65 48 34.95C48 36.35 47.5167 37.5417 46.55 38.525C45.5833 39.5083 44.4 40 43 40H30ZM36.8 22C36.4333 20.3 35.8 18.7417 34.9 17.325C34 15.9083 32.8 14.5667 31.3 13.3V19.5H28.3V8H39.8V11H33.25C34.8833 12.3667 36.325 14.0417 37.575 16.025C38.825 18.0083 39.5833 20 39.85 22H36.8ZM30 37H43C43.5667 37 44.0417 36.8083 44.425 36.425C44.8083 36.0417 45 35.5667 45 35C45 34.4333 44.8083 33.9583 44.425 33.575C44.0417 33.1917 43.5667 33 43 33H40.5V31.5C40.5 30.2333 40.0667 29.1667 39.2 28.3C38.3333 27.4333 37.2667 27 36 27C34.7333 27 33.6667 27.4083 32.8 28.225C31.9333 29.0417 31.5 29.9667 31.5 31H30C29.1667 31 28.4583 31.2917 27.875 31.875C27.2917 32.4583 27 33.1667 27 34C27 34.8333 27.2917 35.5417 27.875 36.125C28.4583 36.7083 29.1667 37 30 37Z" fill="%23182739" fill-opacity="0.94"/></svg>');
}

.poll .Desktop label::before {
    content: "";
    background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34 42C33.4333 42 32.9583 41.8083 32.575 41.425C32.1917 41.0417 32 40.5667 32 40V23.3C32 22.7333 32.1917 22.2583 32.575 21.875C32.9583 21.4917 33.4333 21.3 34 21.3H42C42.5667 21.3 43.0417 21.4917 43.425 21.875C43.8083 22.2583 44 22.7333 44 23.3V40C44 40.5667 43.8083 41.0417 43.425 41.425C43.0417 41.8083 42.5667 42 42 42H34ZM34 39H42V24.3H34V39ZM16 42V39H20.5V34H7C6.175 34 5.46883 33.7062 4.8815 33.1185C4.29383 32.5312 4 31.825 4 31V9C4 8.175 4.29383 7.46867 4.8815 6.881C5.46883 6.29367 6.175 6 7 6H36.95C37.8167 6 38.5417 6.29367 39.125 6.881C39.7083 7.46867 40 8.175 40 9V18.3H37V9H37.025H7V31H29V34H23.5V39H28V42H16Z" fill="%23182739" fill-opacity="0.94"/></svg>');
}

.poll .None label::before {
    content: "";
    background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 42C8.2 42 7.5 41.7 6.9 41.1C6.3 40.5 6 39.8 6 39V30.4H9V39H17.6V42H9ZM39 42H30.4V39H39V30.4H42V39C42 39.8 41.7 40.5 41.1 41.1C40.5 41.7 39.8 42 39 42ZM6 9C6 8.2 6.3 7.5 6.9 6.9C7.5 6.3 8.2 6 9 6H17.6V9H9V17.6H6V9ZM42 9V17.6H39V9H30.4V6H39C39.8 6 40.5 6.3 41.1 6.9C41.7 7.5 42 8.2 42 9ZM23.8515 35.75C24.3838 35.75 24.8333 35.5662 25.2 35.1985C25.5667 34.8308 25.75 34.3808 25.75 33.8485C25.75 33.3162 25.5662 32.8667 25.1985 32.5C24.8308 32.1333 24.3808 31.95 23.8485 31.95C23.3162 31.95 22.8667 32.1338 22.5 32.5015C22.1333 32.8692 21.95 33.3192 21.95 33.8515C21.95 34.3838 22.1338 34.8333 22.5015 35.2C22.8692 35.5667 23.3192 35.75 23.8515 35.75ZM22.2 28.35H25.05C25.05 27.3833 25.2083 26.5667 25.525 25.9C25.8417 25.2333 26.4333 24.4667 27.3 23.6C28.3667 22.5333 29.125 21.575 29.575 20.725C30.025 19.875 30.25 18.9738 30.25 18.0215C30.25 16.3072 29.6565 14.9167 28.4695 13.85C27.2825 12.7833 25.776 12.25 23.95 12.25C22.2833 12.25 20.8333 12.6417 19.6 13.425C18.3667 14.2083 17.4667 15.35 16.9 16.85L19.55 17.95C20.0167 17.0833 20.6333 16.3917 21.4 15.875C22.1667 15.3583 23.017 15.1 23.951 15.1C24.993 15.1 25.8283 15.3833 26.457 15.95C27.0857 16.5167 27.4 17.2333 27.4 18.1C27.4 18.7667 27.2167 19.4083 26.85 20.025C26.4833 20.6417 25.8667 21.3667 25 22.2C23.9 23.2667 23.1583 24.2083 22.775 25.025C22.3917 25.8417 22.2 26.95 22.2 28.35Z" fill="%23182739" fill-opacity="0.94"/></svg>');
}

.poll .Server > div,
.poll .Desktop > div,
.poll .None > div {
    background: linear-gradient(45deg, var(--lumo-secondary-text-color) 0%, var(--lumo-tertiary-text-color));   
}



/* https://github.com/anezthes/vaadinplus/blob/main/frontend/themes/vaadin%2B/components/vaadin-checkbox.css */

.poll vaadin-checkbox::part(checkbox) {
    border-radius: 9999px;
    width: var(--lumo-size-m);
}

.poll vaadin-checkbox::part(checkbox)::after {
    content: "";
    background-color: var(--lumo-secondary-text-color);
    border-radius: 9999px;
    inset: 0;
    /* (size-m/2 - size-m/3) / 2 = size-m/12 */
    margin: calc(var(--lumo-size-m) / 12);
    opacity: 1;
    transition: transform 0.2s;
    
    height: calc(var(--lumo-size-m) / 3);
    width: calc(var(--lumo-size-m) / 3);
}

.poll vaadin-checkbox[checked]::part(checkbox)::after {
    background-color: var(--lumo-primary-contrast-color);
    /* size-m - size-m/3 - 2*size-m/12 = size-m/2 */
    transform: translateX(calc(var(--lumo-size-m) / 2));
}
